<div class="followed-user-wrapper">
    <div class="followed-user-header">
        <div id="header-text">Follower:</div>
        <div id="see-all">view all</div>
    </div>
    <div class="followed-user-body">
        <div class="followed-user-box" *ngFor='let user of followedUserObjects' >
            <a [routerLink]="['/playlist', user.id]">
            <div id="followed-user-img">
                <img id="followed-user-picture">
            </div>
            <div id="followed-user-name">
                {{user.name}}
            </div>
        </a>
        <div>
    </div>
</div>