<table class="playlist-content">
    <thead>
        <tr>
            <th id="nr">#</th>
            <th id="titel">Titel</th>
            <th id="album">Album</th>
            <th>Hinzugefügt am</th>
            <th>Duration</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let song of songs">
            <td id="songid">{{song.nr}}</td>
            <td id="songTitelAndAuthor">
                <p id="songTitel">{{song.title}}</p>
                <p id="author">{{song.artist}}</p>
            </td>
            <td id="songAlbum">{{song.album}}</td>
            <td id="songDate">{{song.added}}</td>
            <td id="songDuration">{{song.duration}}</td>
        </tr>
    </tbody>
</table>