<div class="playlist-wrapper">
    <div class="playlist-header">
        <div id="playlist-image">
            <img id="cover" src="{{playlistCover}}">
        </div>
        <div id="playlist-info">
        <h2>Playlist</h2>
        <h1>{{playListName}}</h1>
        <h3>Creator: {{playlistCreator}} - {{playlistTrackNumber}} Tracks - {{playlistDuration}} h</h3>
        </div>
    </div>
    <div class="playlist-body">
        <div class="play-container" (click)="play()">
            <img id="play" src="../../../assets/Play.png">
        </div>
        <div class="shuffle-container">
            <img id="shuffle" src="../../../assets/Shuffle.png">
        </div>
        <div class="songlist-wrapper">
            <app-playlist-songlist [songs]="songList.songs"></app-playlist-songlist>
        </div>
    </div>
</div>
