<div class="playlist-wrapper">
    <div class="playlist-header">
        <div id="playlist-image">
            <img src="{{playlistCover}}">
        </div>
        <div id="playlist-info">
        <h2>Playlist</h2>
        <h1>{{playListName}}</h1>
        <h3>Creator - 13 Tracks - 8 min</h3>
        </div>
    </div>
    <div class="playlist-body">
        <button (click)="play()" class="playlist-shuffle-button">PLAY</button>
        <a class="playlist-edit-button"><p id="dot">..</p></a>
        <app-playlist-songlist [songs]="songList.songs"></app-playlist-songlist>
    </div>
</div>
