<div class="following-user-wrapper">
    <div class="following-user-header">
        <div id="header-text">Following:</div>
        <div id="see-all">view all</div>
    </div>
    <div class="following-user-body">
        <div class="following-user-box" *ngFor='let user of followingUserObjects' >
            <a [routerLink]="['/playlist', user.id]">
            <div id="following-user-img">
                <img id="following-user-picture">
            </div>
            <div id="following-user-name">
                {{user.name}}
            </div>
        </a>
        <div>
    </div>
</div>
