<div class="following-user-wrapper">
    <div class="following-user-header">
        <div id="header-text">Following:</div>
        <div id="see-all">view all</div>
    </div>
    <div class="following-user-body">
        <div class="following-user-box" *ngFor='let artist of artists' >
            <a [routerLink]="['/playlist', artist.id]">
            <div id="following-user-img">
                <img id="following-user-picture" src="{{artist.image}}">
            </div>
            <div id="following-user-name">
                {{artist.name}}
            </div>
        </a>
    </div>
</div>
</div>
