<div class="top-artists-wrapper">
    <div class="top-artist-header">
        <div id="header-text">monthly top artists:</div>
        <div id="see-all">view all</div>
    </div>
    <div class="top-artists-body">
        <div class="top-artist-box" *ngFor='let artist of artists' >
            <a [routerLink]="['/artist', artist.id]">
            <div id="top-artist-img">
                <img id="artist-picture">
            </div>
            <div id="top-artist-name">
                {{artist.name}}
            </div>
        </a>
        <div>
    </div>
</div>





