<div class="profile-wrapper">
    <div class="profile-header">
        <img id="profile-picture">
        <div class="profile-username">
            <h1>Profile User Name</h1>
        </div>  
    </div>

    <app-artist-monthly-top></app-artist-monthly-top>
    <app-tracks-monthly-top></app-tracks-monthly-top>
    <app-playlist-profile-public></app-playlist-profile-public>
    <app-follow-profile-following></app-follow-profile-following>
    <app-follow-profile-follower></app-follow-profile-follower>

    <div id="freespace"></div>
</div>