a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.904);
    font-size: 2.1vh;
}

#name{
    margin-bottom: 1.3vh;
    padding: 0.8vh;
    margin-top: 0.5vh;
    background-color: #12121227;
    border-radius: 10px;
}

#name:hover{
    background-color: #18181834;
    cursor:auto;
}