<div class="playlist-wrapper">
    <div class="playlist-header">
        <div id="playlist-image">
            <img>
        </div>
        <div id="playlist-info">
        <h2>Playlist</h2>
        <h1>PLAYLIST NAME</h1>
        <h3>Creator - 13 Tracks - 8 min</h3>
        </div>
    </div>
    <div class="playlist-body">
        <a class="playlist-shuffle-button">PLAY</a>
        <a class="playlist-edit-button"><p id="dot">..</p></a>
        <app-song-list></app-song-list>
    </div>
</div>


<!--
    includes:
        playlist structure 
        songlist component (table)
    
    playlist name 
    playlist information
    ..
-->

