<div class="fav-wrapper">
    <div class="fav-header">
        <div id="fav-image">
            <img id="cover"src="../../../assets/fireheart.png">
        </div>
        <div id="fav-info">
        <h1>Favourites</h1>
        <h3>Creator - 13 Tracks - 8 min</h3>
        </div>
    </div>
    <div class="fav-body">
        <div class="play-container">
            <img id="play" src="../../../assets/Play.png">
        </div>
        <div class="shuffle-container">
            <img id="shuffle" src="../../../assets/Shuffle.png">
        </div>
        <div class="songlist-wrapper">
            <app-fav-songlist></app-fav-songlist>
        </div>
    </div>
</div>