<table class="playlist-content" width="100%">
    <thead>
        <tr>
            <th id="nr" width="10%">#</th>
            <th id="album-img" width="6%"></th>
            <th id="titel-header">Titel</th>
            <th id="artist-header">Artist/s * INNEN</th>
            <th id="added-header">Added</th>
            <th>Duration</th>
        </tr>
    </thead>
</table>
    <div class="playlist-body" id="playlist-body">
        <div class="song-box"  *ngFor='let song of favSongs' >
            <div class="song-data" id="songid">
                {{song.nr}}
            </div>
            <div class="song-data" id="song-cover">
                <img id="cover">
            </div>
            <div class="song-data" id="title">
                {{song.title}}
            </div>
            <div class="song-data" id="artist">
                {{song.artist}}
            </div>
            <div class="song-data" id="added">
                {{song.added}}
            </div>
            <div class="song-data" id="duration">
                {{song.duration}}
            </div>
        </div>
</div>

    <div id="freespace"><a href="bottom"></a></div>
