<div class ="sidebar-container">

        <!-- 
                LOGO (FINISHED)
                START
                SUCHE
                BIBLIOTHEK

                PLAYLIST ERSTELLEN
                -----------------------
                playlists
                ..
                .
        
        -->
        <a href="">
                <div class="logo">
                        <div class="logoCircle">
                                <img class="logoImg" src="../../assets/fire.png">
                        </div>
                        <div class="name">
                                Spotifire
                        </div>
                </div>
        </a>



        <div class="modi-selector-container">
                <input id="simple" type="radio" name="modi" checked="checked">
                <label class="check" for="simple">Simple</label>
                <input id="advanced" type="radio" name="modi">
                <label class="check" for="advanced">Advanced</label>
        </div>
        


        <div id="start" class="sidebar-tab">
                <a class="tab" href="#">Start</a>
        </div>
        <div id="search" class="sidebar-tab">
                <a class="tab" href="#">Search</a>
        </div>
        <div id="lib" class="sidebar-tab">
                <a class="tab" href="#">Library</a>
        </div>
        <div id="createPL" class="sidebar-tab">
                <a class="tab" href="#">New Playlist</a>
        </div>
        <div id="fav" class="sidebar-tab">
                <a class="tab" href="#">Favourites</a>
        </div>
        
        


        
                

</div>

