<div class="monthly-top-tracks-wrapper">
    <div class="top-tracks-header">
        <div id="header-text">monthly top artists:</div>
        <div id="see-all">view all</div>
    </div>
    <div class="top-tracks-body">
        <table id="top-track-table" width="100%">
            <thead>
                <tr>
                    <th>Nr</th>
                    <th>Cover</th>
                    <th>Title</th>
                    <th>Artist</th>
                    <th>Duration</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td><img id="album-cover"></td>
                    <td>Title 1</td>
                    <td>Artist 1 feat Artist 2</td>
                    <td>3:14</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="freespace"></div>